pandas
numpy
scikit-learn
chromadb
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
sentence-transformers
gradio
torch
openai
tiktoken
tqdm
jupyter
transformers
accelerate
bitsandbytes
tabulate
matplotlib
seaborn
pytest
flake8
